@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor {
  @apply mx-auto w-5/6 lg:w-full max-w-2xl py-10;
}

.background {
  background-image: url("../src/assets/images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: hsl(0, 0%, 98%);
}

@media (min-width: 768px) {
  .background {
    background-image: url("../src/assets/images/bg-desktop-light.jpg");
  }
}
